{% extends "base.html" %}
{% block content %}
<h1>Товары и услуги режима Path Of The Hero</h1>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
    			<th>Название</th>
    			<th>Описание</th>
    			<th>Цена</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for item in items %}
    		<tr>
    			<td>{{item.name}}</td>
    			<td>{{item.description}}</td>
    			<td>{{item.price}}</td>
    		</tr>
    		{% endfor %}
    	</tbody>
	</table>
</div>
<h3>Как приобрести?</h3>
Находясь на режиме, напишите в чат "/donates", выберите нужный товар и подтвердите покупку.
{% endblock %}