{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-8">
		<h1>Неудача</h1>
		Во время обработки платежа произошла ошибка<br>
		<span class="text-danger">Если ваши деньги списали, а баланс не пополнился в течение получаса, обратитесь в <a href="https://vk.com/im?sel=-130937524">техподдержку</a> или на <a href="https://cristalix.ru/forum/threads/%D0%9E%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D0%BF%D1%80%D0%BE%D1%87%D1%82%D0%B8%D1%82%D0%B5-%D0%BA%D0%B0%D0%BA-%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B0%D1%82%D1%8C-%D0%BE%D0%B1-%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0%D1%85.1756/">форум</a>.</span><br>
		<a href="https://cristalix.ru/account">Вернуться в личный кабинет</a>
	</div>
</div>
{% endblock %}