<%- include('parts/header'); %>
<h1>Товары и услуги режима Path Of The Hero</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1000 Золота</td>
            <td>При покупке вы получаете 1000 золота на ваш аккаунт.</td>
            <td>100</td>
        </tr>
        <tr>
            <td>3000 Золота</td>
            <td>Прикупите себе 3000 золота, и станете всемогущим на режиме.</td>
            <td>250</td>
        </tr>
        <tr>
            <td>7000 золота</td>
            <td>Ну, на 7000 золота вы себе точно купите большинство в магазине и будете доминантом.</td>
            <td>500</td>
        </tr>
        <tr>
            <td>10000 золота</td>
            <td>Охохо, решили занять топ-1? Тогда этот товар для вас, купите себе всё что угодно, ей богу.</td>
            <td>700</td>
        </tr>
        <tr>
            <td>Ботинки прыгуны</td>
            <td>Хотите высоко прыгать? Купив эти ботинки, вы получите ВЕЧНУЮ возможность высоко прыгать!</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Штаны бегуны</td>
            <td>Хотите быстро бегать? Тогда эти штаны для вас! Получите возможность бесконечно быстро бегать!</td>
            <td>200</td>
        </tr>
        </tbody>
    </table>
</div>
<h3>Как приобрести?</h3>
Находясь на режиме, напишите в чат "/donates", выберите нужный товар и подтвердите покупку.
<%- include('parts/footer'); %>